<%= render partial: "layouts/header_materials_show", locals: {material: @lecture} %>

<div class="matter">
  <div class="container-fluid">

    <%= render "layouts/messages" %>
    
    <div class="row-fluid fit-content">

      <%= render "body_show" %>

    </div>
    
    <%= render partial: "layouts/footer_materials_show", locals: {material: @lecture} %>

  </div>
</div>