<%= form_for [parent, new_comment] do |f| %>                     
  <% placeholder = f.object.persisted?  ?  "Edit comment" : "Leave a reply" %>

  <div class="field">
    <% comment_user = f.object.user_id || current_user.id %>
    <%= f.hidden_field :user_id, value: comment_user %>
  </div>

  <div class="field">
    <%= f.text_area :content, placeholder: placeholder, rows: 5, value: default_value, class: "commentspan" %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-info" %>
  </div>
<% end %>
