<p id="notice"><%= notice %></p>

<p>
  <b>File:</b>
  <%= link_to @attachment.title, @attachment.filename.to_s %>
</p>

<%= link_to 'Edit', edit_attachment_path(@attachment) %> |
<%= link_to 'Back', attachments_path %>
