<div class="page-head">
  <h1>Listing searches</h1>
</div>

<ol>
  <% @searches.each do |object| %>
    <li><%="#{object.class}:"%><a href=<%= "#{object.class.to_s.downcase}s/#{object.id}" %>><%= object %></a> </li>
   <% end %>
</ol>
