<td>
  <%= link_to material.wikipedia, material.http_link(material.wikipedia), :target => "_blank"  %>
</td>

<td>
  <%= link_to material.presentation_url, material.http_link(material.presentation_url), :target => "_blank"  %>
</td>