<div class="page-head">
  <h1>New Programmer of the Day</h1>
</div>
<div class="matter">
  <div class="container-fluid">
    <div class="row-fluid">
      <%= render 'form' %>

      <%= link_to 'Back', potds_path %>
    </div>
  </div>
</div>