@media (max-width: 980px) {
	body {
		min-width: 100%;
		background-image:url('/assets/background-mobile.png');
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		height: 100%;
	}

	.mute {
		display: none;
	}

	.landing-block {
		position: relative;
		padding: 20px 0;
		top: auto;
		left: auto;
		width: 100%;
	}

	.landing-logo {
		width: 300px;
		margin: 20px auto;
	}

	section {
		height: auto;
	}

	.container {
		width: 100%;
	}

	.background-video-wrapper {
		display: none;
		visibility: hidden;
	}

	.footer > .container {
		line-height: 28px;
		padding: 20px;
	}

	.background-video-wrapper {
		height: auto;
	}

	.form-block {
		position: relative;
		padding: 20px 0;
		top: auto;
		left: auto;
		right: auto;
		width: 100%;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}
}
