<div class="span9 maxspan minspan">
  <div class="widget wlightblue mainwidget">
    <div class="widget-head">
      <div class="pull-left">Lab</div>
      <div class="widget-icons pull-right">
        <% if can? :edit, @lab %>
          <span class="admin"><a href="<%= edit_lab_path %>"><i class="icon-pencil"></i></a></span>
        <% end %>
        <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
        <!-- <a href="#" class="wclose"><i class="icon-remove"></i></a> -->
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="widget-content">
      <div class="padd lowtop">
        <p>
          <h2><%= @lab.print_name %></h2>
        </p>
        <p>
          <%= @lab.lab_url %>
        </p>
      </div>
    </div>
  </div>
</div>