<% material_type   = material.class.to_s.downcase %>
<% material_types  = material_type.pluralize %>
<% material_title  = material_capitalize(material_type) %>
<% material_titles = material_title.pluralize %>

<div class="row-fluid fit-content">
  <div class="span9 maxspan minspan">
    <% if can? :edit, @homework %>
      <span class="admin">
        <%= link_to 'Edit', self.send("edit_#{material_type}_path", material) %> |
      </span>
    <% end %>
    <%= link_to "Show All #{material_titles}", self.send("#{material_types}_path") %>
    <br><br><br>
  </div>
</div>

<div class="row-fluid">
  <div class="span9 maxspan minspan">
    <%= render "comments/comments" %>
    <%= render "comments/form" %>
  </div>
</div>