<% new_material_type   = new_material.class.to_s.underscore %>
<% new_material_types  = new_material_type.pluralize %>
<% new_material_title  = material_capitalize(new_material_type) %>
<% new_material_titles = new_material_title.pluralize %>
<% title "New #{new_material_title}" %>

<div class="page-head">
  <h2 class="inline"><%= yield :title %></h2>
  
  <ul class="horizontal-list breadcrumb">
    <li>Show All: </li>
    <% material_type_list.each do |material_type_hash| %>
      <% material_type = material_type_hash[:name] %>
      <% material_icon = material_type_hash[:icon] %>

      <% material_types  = material_type.pluralize %>
      <% material_title  = material_capitalize(material_type) %>
      <% material_titles = material_title.pluralize %>
      
      <%# unless material_type == new_material_type %>
      <li>
        <a href="<%= self.send("#{material_types}_path") %>">
          <i class="icon-<%= material_icon %>"></i>
          <%= material_titles %>
        </a>
      </li>
      <%# end %>
      
    <% end %>
  </ul>

  <br />

</div>