<p>
  <% title @active_school_day.calendar_date.strftime("%a %m/%d") %>
  <h3 class="inline">
    <%= @active_school_day.calendar_date.strftime("%A %B %d, %Y") %>
  </h3>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <span class="admin-title pull-right">
  	<% if can? :edit, @school_day %>
    	<%= link_to 'Edit', edit_school_day_path(@active_school_day) %> |
    <% end %>

    <%= link_to 'Show All Days', school_days_path %>
  </span>
</p>