<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
      <a class="close inline" data-dismiss="alert">&#215;</a>
      <%= content_tag :div, msg, :id => "flash_#{name}", class: "inline" %>
    </div>
  <% end %>
<% end %>